[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  NODE_VERSION = "20"

# Handle Single Page Application routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
